In [19]:
import pandas as pd
from pykrx import stock
import pandas as pd
from tqdm import tqdm
import time

In [20]:
df_k200 = pd.read_csv('24.12_kospi200 -회사명,종목코드.csv', dtype={'종목코드' : str})
tickers = df_k200["종목코드"][:10].tolist()

In [21]:
df_k200

       종목코드       종목명
0    005930      삼성전자
1    000660    SK하이닉스
2    373220  LG에너지솔루션
3    207940  삼성바이오로직스
4    005380       현대차
..      ...       ...
195  178920    PI첨단소재
196  006110     삼아알미늄
197  005420     코스모화학
198  271940   일진하이솔루스
199  006650      대한유화

[200 rows x 2 columns]

In [22]:
for i in range(len(df_k200)):
    data = stock.get_market_ohlcv_by_date("20150101", "20241231", df_k200['종목코드'][i])
    data['종목코드'] = df_k200['종목코드'][i]
    data.to_csv(f'주식data/{df_k200['종목명'][i]}.csv')
    print(i)
    time.sleep(2)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [23]:
tickers

['005930',
 '000660',
 '373220',
 '207940',
 '005380',
 '068270',
 '000270',
 '105560',
 '035420',
 '329180']

In [24]:
start = "20150101"
end   = "20241231"


all_vol_data = []

for ticker in tqdm(tickers):
    try:
        # ② 투자자별 '순매수 거래대금(원)' 데이터 불러오기
        df_vol = stock.get_market_trading_volume_by_date(
            fromdate=start,
            todate=end,
            ticker=ticker
        )

        # ③ 필요한 컬럼만 추출
        vol = df_vol[["기관합계", "개인", "외국인합계"]].copy()
        vol.columns = ["기관_순매수_수량", "개인_순매수_수량", "외국인_순매수_수량"]

        # ④ ticker 정보 추가
        vol["ticker"] = ticker

        all_vol_data.append(vol)
        time.sleep(3)

    except Exception as e:
        print(f"Error in {ticker}: {e}")

# ⑤ 모든 종목 데이터 합치기
result2 = pd.concat(all_vol_data)
result2 = result2.sort_index()
result2.index.name = "date"

print(result2.head())
print(result2.tail())

 30%|███       | 3/10 [00:51<01:59, 17.12s/it]

KeyboardInterrupt:

In [12]:

all_vol_data

[            기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2015-01-02     -20583      -5925       21466  005930
 2015-01-05       9399      -3200      -53048  005930
 2015-01-06      20727      30407     -102252  005930
 2015-01-07      22169      -3428      -60081  005930
 2015-01-08        138       5264       -4352  005930
 ...               ...        ...         ...     ...
 2024-12-23     464199    -696548     -830210  005930
 2024-12-24      64871   -3111933     1906338  005930
 2024-12-26    -125220     242434    -1359343  005930
 2024-12-27    -261276    -733514      -43194  005930
 2024-12-30     -60782    1368125    -2676872  005930

 [2455 rows x 4 columns],
             기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2015-01-02    -199017     243833      -46536  000660
 2015-01-05    -435652     204950      219134  000660
 2015-01-06      21408       7276      -40268  000660
 2015-01-07      17854     109165     -123044  000660
 2015-01-08     194087   -1577493     1402173  000660
 ...               ...        ...         ...     ...
 2024-12-23     427382     -46162     -406003  000660
 2024-12-24     121369    -125861       12075  000660
 2024-12-26     166829    -868996      704012  000660
 2024-12-27      25108    -114699       97138  000660
 2024-12-30      53618     -19562      -35052  000660

 [2458 rows x 4 columns],
             기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2022-01-27    5773397   -2743204    -2881287  373220
 2022-01-28     316180     501613     -827684  373220
 2022-02-03     287194    -467707      177938  373220
 2022-02-04     419222    -526906      115800  373220
 2022-02-07     266914    -378665      109528  373220
 ...               ...        ...         ...     ...
 2024-12-23     -67374      10090       58417  373220
 2024-12-24     -50038      52874       -2675  373220
 2024-12-26     -14654       8935       12079  373220
 2024-12-27      39250     -51984       12941  373220
 2024-12-30       5717       2511       -8140  373220

 [717 rows x 4 columns],
             기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2016-11-10    -668530      30728      702571  207940
 2016-11-11    -197407     145338       75536  207940
 2016-11-14     -73592       6875       74702  207940
 2016-11-15    -108969     114128       17360  207940
 2016-11-16    -124110     -83574      235396  207940
 ...               ...        ...         ...     ...
 2024-12-23       3334      -4995        2655  207940
 2024-12-24      -1553       8112        2226  207940
 2024-12-26      -4077      -2029       11394  207940
 2024-12-27      -2385      -3657        4667  207940
 2024-12-30       7128     -18352       11730  207940

 [1982 rows x 4 columns],
             기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2015-01-02     -85010      14067      -30917  005380
 2015-01-05     -43519      24169      -81436  005380
 2015-01-06    -149385     106230      -67700  005380
 2015-01-07     -83676     -74500       75544  005380
 2015-01-08    -136480    -253996      289364  005380
 ...               ...        ...         ...     ...
 2024-12-23      29514    -120307       48259  005380
 2024-12-24      12525     -78261       28860  005380
 2024-12-26     104252     -98373      -44501  005380
 2024-12-27      26918      13848      -40778  005380
 2024-12-30      32986      38949      -68230  005380

 [2458 rows x 4 columns],
             기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2015-01-02       -304      25561      -26786  068270
 2015-01-05       1644       7892      -20767  068270
 2015-01-06       -342       4071       -6219  068270
 2015-01-07        538       3703       -2989  068270
 2015-01-08       2043      -1670        -420  068270
 ...               ...        ...         ...     ...
 2024-12-23      17921      -3421      -21290  068270
 2024-12-24      -6536      32126      -38218  068270
 2024-12-26     -15999      33678      -15017  068270
 2024-12-27     -47799     130042      -92292  068270
 2024-12-30     112974    -157593       15911  068270

 [2458 rows x 4 columns],
             기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2015-01-02    -211391      86598      -17096  000270
 2015-01-05    -235148      76065       13514  000270
 2015-01-06    -255041      99269        1427  000270
 2015-01-07     -43954      51922     -105132  000270
 2015-01-08      16409      48526     -222685  000270
 ...               ...        ...         ...     ...
 2024-12-23     103521      48950     -148519  000270
 2024-12-24      70035     -85128       15183  000270
 2024-12-26     274751    -407998      137055  000270
 2024-12-27      62873      20378      -80561  000270
 2024-12-30      94772     -70257      -23465  000270

 [2458 rows x 4 columns],
             기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2015-01-02    -270758     311465      -44266  105560
 2015-01-05    -329570     290962       38594  105560
 2015-01-06     -57880      98024      -33392  105560
 2015-01-07    -168205     205539      -39197  105560
 2015-01-08    -141255    -266135      413282  105560
 ...               ...        ...         ...     ...
 2024-12-23      60070     -57525        2074  105560
 2024-12-24      26710      29963      -58396  105560
 2024-12-26      42610      56706     -109634  105560
 2024-12-27     -34011     -41392       77437  105560
 2024-12-30       3702     151397     -155573  105560

 [2458 rows x 4 columns],
             기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2015-01-02      -3918      -6220        8716  035420
 2015-01-05      29887     -26747       -3037  035420
 2015-01-06      48383     -13815      -33065  035420
 2015-01-07      -1913       6696       -5692  035420
 2015-01-08       -101      -5568        5248  035420
 ...               ...        ...         ...     ...
 2024-12-23    -114307     110018        8437  035420
 2024-12-24     -50678    -127147      178262  035420
 2024-12-26      38984     -75589       39857  035420
 2024-12-27     -61255     -48071      108616  035420
 2024-12-30       5621     -61644       68760  035420

 [2455 rows x 4 columns],
             기관_순매수_수량  개인_순매수_수량  외국인_순매수_수량  ticker
 날짜
 2021-09-17    1311647     488893    -1766837  329180
 2021-09-23      91485     301914     -386170  329180
 2021-09-24     186650     -78083     -108009  329180
 2021-09-27      99499    -109001        9707  329180
 2021-09-28     155322    -158996        -219  329180
 ...               ...        ...         ...     ...
 2024-12-23       2086     -14481       18914  329180
 2024-12-24     -51139      27375       24385  329180
 2024-12-26     -34299     -24791       57808  329180
 2024-12-27     -16956      46042      -24452  329180
 2024-12-30     -18170      25157       -6415  329180

 [805 rows x 4 columns]]