In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('../Îã®Í∏∞Î™®Î©òÌÖÄ.csv', dtype={'ticker':str})
df2 = pd.read_csv('../24.12_ÏàòÍ∏â,Í±∞Îûò Îç∞Ïù¥ÌÑ∞.csv', dtype={'ticker':str})

In [3]:
# ------------------------------------------------------------------------------
# 0. Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ
# ------------------------------------------------------------------------------
print("üöÄ 1. Îç∞Ïù¥ÌÑ∞ Î≥ëÌï© Î∞è Ï¥àÍ∏∞Ìôî...")
df1['date'] = pd.to_datetime(df1['date'])
df2['date'] = pd.to_datetime(df2['date'])
df1['ticker'] = df1['ticker'].astype(str)
df2['ticker'] = df2['ticker'].astype(str)

df = pd.merge(df1, df2, on=['date', 'ticker'], how='left')
inv_cols = [c for c in df.columns if 'ÏàúÎß§Ïàò' in c]
df[inv_cols] = df[inv_cols].fillna(0)
df = df.sort_values(['ticker', 'date']).reset_index(drop=True)

üöÄ 1. Îç∞Ïù¥ÌÑ∞ Î≥ëÌï© Î∞è Ï¥àÍ∏∞Ìôî...

In [4]:

# ------------------------------------------------------------------------------
# 1. Feature Engineering (120Ïùº ÏßÄÌëú Ï∂îÍ∞Ä - ÏÑ±Îä• Í∞ïÌôî)
# ------------------------------------------------------------------------------
print("üöÄ 2. ÌïµÏã¨ ÏßÄÌëú ÏÉùÏÑ± (60Ïùº, 120Ïùº Ïù¥Í≤©ÎèÑ Ìè¨Ìï®)...")

# (1) Ïù¥Í≤©ÎèÑ (Disparity): 5, 20, 60, 120Ïùº
# * 60Ïùº(ÏàòÍ∏âÏÑ†), 120Ïùº(Í≤ΩÍ∏∞ÏÑ†) Ï∂îÍ∞Ä -> Ïû•Í∏∞ Ï∂îÏÑ∏ ÎåÄÎπÑ ÌòÑÏû¨ ÏúÑÏπò ÌååÏïÖ
# * 120Ïùº Ïù¥Í≤©ÎèÑÍ∞Ä ÎÇÆÏúºÎ©¥ 'Ïó≠ÏÇ¨Ï†Å Ï†ÄÏ†ê'Ïùº Í∞ÄÎä•ÏÑ±Ïù¥ ÎÜíÏùå
for w in [5, 20, 60, 120]:
    ma = df.groupby('ticker')['Ï¢ÖÍ∞Ä'].rolling(w).mean().reset_index(0, drop=True)
    df[f'disparity_{w}'] = df['Ï¢ÖÍ∞Ä'] / ma

# (2) RSI (14Ïùº)
def calc_rsi(x, w=14):
    delta = x.diff()
    gain = (delta.where(delta > 0, 0)).rolling(w).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(w).mean()
    rs = gain / (loss + 1e-9)
    return 100 - (100 / (1 + rs))
df['rsi_14'] = df.groupby('ticker')['Ï¢ÖÍ∞Ä'].transform(lambda x: calc_rsi(x))

# (3) Î≥ºÎ¶∞Ï†Ä Î∞¥Îìú %B
def calc_bb_pb(x, w=20):
    m = x.rolling(w).mean()
    s = x.rolling(w).std()
    lower = m - 2*s
    upper = m + 2*s
    return (x - lower) / (upper - lower + 1e-9)
df['bollinger_pb'] = df.groupby('ticker')['Ï¢ÖÍ∞Ä'].transform(lambda x: calc_bb_pb(x))

# (4) Î≥ÄÎèôÏÑ± (5Ïùº)
df['volatility_5'] = df.groupby('ticker')['Îì±ÎùΩÎ•†'].rolling(5).std().reset_index(0, drop=True)

# (5) Í±∞ÎûòÎüâ ÎπÑÏú®
v5 = df.groupby('ticker')['Í±∞ÎûòÎüâ'].rolling(5).mean().reset_index(0, drop=True)
v20 = df.groupby('ticker')['Í±∞ÎûòÎüâ'].rolling(20).mean().reset_index(0, drop=True)
df['volume_ratio'] = v5 / (v20 + 1e-9)

# (6) ÏàòÍ∏â ÎàÑÏ†Å (5Ïùº)
target_amt = 'ÏàúÎß§Ïàò_Í∏àÏï°' if 'Ïô∏Íµ≠Ïù∏_ÏàúÎß§Ïàò_Í∏àÏï°' in df.columns else 'ÏàúÎß§Ïàò_ÏàòÎüâ'
for subj in ['Ïô∏Íµ≠Ïù∏', 'Í∏∞Í¥Ä', 'Í∞úÏù∏']:
    col_name = f'{subj}_{target_amt}'
    if col_name in df.columns:
        df[f'{col_name}_sum_5'] = df.groupby('ticker')[col_name].rolling(5).sum().reset_index(0, drop=True)

üöÄ 2. ÌïµÏã¨ ÏßÄÌëú ÏÉùÏÑ± (60Ïùº, 120Ïùº Ïù¥Í≤©ÎèÑ Ìè¨Ìï®)...

In [5]:

# ------------------------------------------------------------------------------
# 2. Market FilterÏö© ÏßÄÌëú & Target
# ------------------------------------------------------------------------------
# 60Ïùº Ïù¥ÌèâÏÑ† (ÌïòÎùΩÏû• Î∞©Ïñ¥Ïö©)
df['ma_60'] = df.groupby('ticker')['Ï¢ÖÍ∞Ä'].transform(lambda x: x.rolling(60).mean())
df['above_ma60'] = np.where(df['Ï¢ÖÍ∞Ä'] > df['ma_60'], 1, 0)

# Target: 10Ïùº ÌõÑ ÏàòÏùµÎ•† ÏàúÏúÑ
df['fwd_ret_10d'] = df.groupby('ticker')['Ï¢ÖÍ∞Ä'].shift(-10) / df['Ï¢ÖÍ∞Ä'] - 1
df['target_rank'] = df.groupby('date')['fwd_ret_10d'].rank(pct=True)

In [6]:
df

,date,ÏãúÍ∞Ä,Í≥†Í∞Ä,Ï†ÄÍ∞Ä,Ï¢ÖÍ∞Ä,Í±∞ÎûòÎüâ,Îì±ÎùΩÎ•†,ticker,ret_1d,ret_5d,...,bollinger_pb,volatility_5,volume_ratio,Ïô∏Íµ≠Ïù∏_ÏàúÎß§Ïàò_Í∏àÏï°_sum_5,Í∏∞Í¥Ä_ÏàúÎß§Ïàò_Í∏àÏï°_sum_5,Í∞úÏù∏_ÏàúÎß§Ïàò_Í∏àÏï°_sum_5,ma_60,above_ma60,fwd_ret_10d,target_rank
0,2015-01-02,23100,23100,22350,22600,184419,-2.795699,000080,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-0.004425,0.559006
1,2015-01-05,22600,23150,22400,23050,170602,1.991150,000080,0.019912,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-0.028200,0.322981
2,2015-01-06,22750,23100,22550,22650,142141,-1.735358,000080,-0.017354,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.030905,0.596273
3,2015-01-07,22650,23050,22350,22700,159007,0.220751,000080,0.002208,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.011013,0.472050
4,2015-01-08,22600,23100,22600,22850,126066,0.660793,000080,0.006608,NaN,...,NaN,1.918816,NaN,2.185804e+08,-1.364644e+08,1.125672e+08,NaN,0,0.000000,0.406832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443040,2024-12-23,29100,30100,29050,29550,888310,2.961672,489790,0.029617,-0.166432,...,0.003569,4.981788,0.917643,-7.444723e+09,-1.651676e+10,2.595550e+10,NaN,0,NaN,NaN
443041,2024-12-24,29950,31350,29100,30400,984329,2.876481,489790,0.028765,-0.136364,...,0.138029,5.686780,0.943990,-4.607088e+09,-1.895513e+10,2.202578e+10,38303.333333,0,NaN,NaN
443042,2024-12-26,30900,31450,30300,30600,557107,0.657895,489790,0.006579,-0.102639,...,0.195202,5.873980,1.019024,-9.609240e+08,-1.408950e+10,1.417099e+10,38223.333333,0,NaN,NaN
443043,2024-12-27,30150,32100,29700,31150,991359,1.797386,489790,0.017974,-0.020440,...,0.278939,5.369299,0.933772,5.152243e+09,-1.084868e+09,-4.089085e+09,38187.500000,0,NaN,NaN
443044,2024-12-30,30800,32150,30600,31600,451194,1.444623,489790,0.014446,0.101045,...,0.340192,0.978526,0.686410,7.658729e+09,1.275130e+10,-1.964258e+10,38145.833333,0,NaN,NaN

In [7]:
df.to_csv('../Îã®Í∏∞Î™®Îç∏1.csv')

In [8]:
# ------------------------------------------------------------------------------
# 3. Îç∞Ïù¥ÌÑ∞ Ï†ïÎ¶¨
# ------------------------------------------------------------------------------
# [ÏàòÏ†ï] 60, 120Ïùº Ïù¥Í≤©ÎèÑ Ï∂îÍ∞Ä
features = [
    'disparity_5', 'disparity_20', 'disparity_60', 'disparity_120', # Ïû•Í∏∞ Ïù¥Í≤©ÎèÑ Ï∂îÍ∞Ä
    'rsi_14', 'bollinger_pb', 
    'volatility_5', 'volume_ratio', 'ret_1d', 'ret_20d', 'ret_5d'
] + [c for c in df.columns if '_sum_5' in c]

# Í≤∞Ï∏°Ïπò Ï†úÍ±∞ 
# Ï£ºÏùò: 120ÏùºÏπò(ÏïΩ 6Í∞úÏõî) Îç∞Ïù¥ÌÑ∞Í∞Ä NaNÏù¥Îùº ÏÇ≠Ï†úÎê©ÎãàÎã§. (2015ÎÖÑ 1~6Ïõî Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú)
model_df = df.dropna(subset=features + ['target_rank', 'above_ma60']).copy()

print(f"‚úÖ Ïª¨Îüº ÏÉùÏÑ± ÏôÑÎ£å! (120Ïùº Ïù¥Í≤©ÎèÑ Ìè¨Ìï®)")
print(f"üëâ ÏÇ¨Ïö© Feature ({len(features)}Í∞ú): {features}")
print(f"üëâ Îç∞Ïù¥ÌÑ∞ ÏãúÏûëÏùº: {model_df['date'].min()} (Ï¥àÍ∏∞ 6Í∞úÏõî ÏÇ≠Ï†úÎê®)")

‚úÖ Ïª¨Îüº ÏÉùÏÑ± ÏôÑÎ£å! (120Ïùº Ïù¥Í≤©ÎèÑ Ìè¨Ìï®)
üëâ ÏÇ¨Ïö© Feature (14Í∞ú): ['disparity_5', 'disparity_20', 'disparity_60', 'disparity_120', 'rsi_14', 'bollinger_pb', 'volatility_5', 'volume_ratio', 'ret_1d', 'ret_20d', 'ret_5d', 'Ïô∏Íµ≠Ïù∏_ÏàúÎß§Ïàò_Í∏àÏï°_sum_5', 'Í∏∞Í¥Ä_ÏàúÎß§Ïàò_Í∏àÏï°_sum_5', 'Í∞úÏù∏_ÏàúÎß§Ïàò_Í∏àÏï°_sum_5']
üëâ Îç∞Ïù¥ÌÑ∞ ÏãúÏûëÏùº: 2015-06-26 00:00:00 (Ï¥àÍ∏∞ 6Í∞úÏõî ÏÇ≠Ï†úÎê®)