In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('../주식data/주식data/삼성전자.csv', dtype={'종목코드':str})

In [9]:
# for ticker in df['종목코드'].unique():
#     ticker_df = df[df['종목코드'] == ticker].sort_values('날짜')
#     ticker_df['ret_1d'] = ticker_df['종가'].pct_change(1)
#     ticker_df['ret_5d'] = ticker_df['종가'].pct_change(5)
#     df.loc[ticker_df.index, 'ret_1d'] = ticker_df['ret_1d']
#     df.loc[ticker_df.index, 'ret_5d'] = ticker_df['ret_5d']

In [19]:
df

              날짜     시가     고가     저가     종가       거래량       등락률    종목코드
0     2015-01-02  26799  26799  26540  26600    175499  0.226074  005930
1     2015-01-05  26720  26720  26260  26660    202790  0.225564  005930
2     2015-01-06  26300  26340  25760  25900    304710 -2.850713  005930
3     2015-01-07  25880  26220  25640  26140    286455  0.926641  005930
4     2015-01-08  26780  26780  26199  26280    289552  0.535578  005930
...          ...    ...    ...    ...    ...       ...       ...     ...
2453  2024-12-23  53400  54000  53300  53500  13672650  0.943396  005930
2454  2024-12-24  53700  54500  53600  54400  11634677  1.682243  005930
2455  2024-12-26  54500  54600  53500  53600  10517075 -1.470588  005930
2456  2024-12-27  53500  54100  53200  53700  10747196  0.186567  005930
2457  2024-12-30  53300  54000  53100  53200  12624702 -0.931099  005930

[2458 rows x 8 columns]

In [20]:
df.rename(columns={'종목코드':'ticker', '날짜':'date'}, inplace=True)

In [ ]:
price_df = df.sort_values(['ticker', 'date'])

price_df['ret_1d']  = price_df.groupby('ticker')['종가'].pct_change(1)
price_df['ret_5d']  = price_df.groupby('ticker')['종가'].pct_change(5)
price_df['ret_20d'] = price_df.groupby('ticker')['종가'].pct_change(20)

In [44]:
price_df

,date,시가,고가,저가,종가,거래량,등락률,ticker,ret_1d,ret_5d,ret_20d
346015,2015-01-02,23100,23100,22350,22600,184419,-2.795699,000080,NaN,NaN,NaN
346016,2015-01-05,22600,23150,22400,23050,170602,1.991150,000080,1.019912,NaN,NaN
346017,2015-01-06,22750,23100,22550,22650,142141,-1.735358,000080,0.982646,NaN,NaN
346018,2015-01-07,22650,23050,22350,22700,159007,0.220751,000080,1.002208,NaN,NaN
346019,2015-01-08,22600,23100,22600,22850,126066,0.660793,000080,1.006608,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
407904,2024-12-23,29100,30100,29050,29550,888310,2.961672,489790,1.029617,0.833568,0.754789
407905,2024-12-24,29950,31350,29100,30400,984329,2.876481,489790,1.028765,0.863636,0.818304
407906,2024-12-26,30900,31450,30300,30600,557107,0.657895,489790,1.006579,0.897361,0.888244
407907,2024-12-27,30150,32100,29700,31150,991359,1.797386,489790,1.017974,0.979560,0.896403
407908,2024-12-30,30800,32150,30600,31600,451194,1.444623,489790,1.014446,1.101045,0.946108

In [23]:
import os

In [24]:
os.listdir('../주식data/주식data')

['BGF리테일.csv',
 'BNK금융지주.csv',
 'CJ.csv',
 'CJ대한통운.csv',
 'CJ제일제당.csv',
 'DB손해보험.csv',
 'DGB금융지주.csv',
 'DL.csv',
 'DL이앤씨.csv',
 'F&F.csv',
 'GKL.csv',
 'GS.csv',
 'GS건설.csv',
 'GS리테일.csv',
 'HD한국조선해양.csv',
 'HD현대.csv',
 'HD현대미포.csv',
 'HD현대인프라코어.csv',
 'HD현대일렉트릭.csv',
 'HD현대중공업.csv',
 'HL만도.csv',
 'HMM.csv',
 'HS효성첨단소재.csv',
 'JB금융지주.csv',
 'KB금융.csv',
 'KCC.csv',
 'KG모빌리티.csv',
 'KT&G.csv',
 'KT.csv',
 'LG.csv',
 'LG디스플레이.csv',
 'LG생활건강.csv',
 'LG에너지솔루션.csv',
 'LG유플러스.csv',
 'LG이노텍.csv',
 'LG전자.csv',
 'LG화학.csv',
 'LIG넥스원.csv',
 'LS ELECTRIC.csv',
 'LS.csv',
 'LX인터내셔널.csv',
 'NAVER.csv',
 'NH투자증권.csv',
 'OCI.csv',
 'OCI홀딩스.csv',
 'PI첨단소재.csv',
 'POSCO홀딩스.csv',
 'S-Oil.csv',
 'SK.csv',
 'SKC.csv',
 'SK네트웍스.csv',
 'SK바이오사이언스.csv',
 'SK바이오팜.csv',
 'SK스퀘어.csv',
 'SK아이이테크놀로지.csv',
 'SK이노베이션.csv',
 'SK케미칼.csv',
 'SK텔레콤.csv',
 'SK하이닉스.csv',
 'TCC스틸.csv',
 'TKG휴켐스.csv',
 '강원랜드.csv',
 '고려아연.csv',
 '금양.csv',
 '금호석유.csv',
 '금호타이어.csv',
 '기아.csv',
 '기업은행.csv',
 '넷마블.csv',
 '녹십자.csv',
 '녹십자홀딩스.csv',
 '농심.csv',
 '대상.csv',
 '대우건설.csv',
 '대웅.csv',
 '대웅제약.csv',
 '대한유화.csv',
 '대한전선.csv',
 '대한항공.csv',
 '더블유게임즈.csv',
 '덴티움.csv',
 '동서.csv',
 '동원시스템즈.csv',
 '두산.csv',
 '두산로보틱스.csv',
 '두산밥캣.csv',
 '두산에너빌리티.csv',
 '두산퓨얼셀.csv',
 '롯데쇼핑.csv',
 '롯데웰푸드.csv',
 '롯데정밀화학.csv',
 '롯데지주.csv',
 '롯데칠성.csv',
 '롯데케미칼.csv',
 '메리츠금융지주.csv',
 '미래에셋증권.csv',
 '미원상사.csv',
 '삼성E&A.csv',
 '삼성SDI.csv',
 '삼성물산.csv',
 '삼성바이오로직스.csv',
 '삼성생명.csv',
 '삼성에스디에스.csv',
 '삼성전기.csv',
 '삼성전자.csv',
 '삼성중공업.csv',
 '삼성증권.csv',
 '삼성카드.csv',
 '삼성화재.csv',
 '삼아알미늄.csv',
 '삼양식품.csv',
 '세방전지.csv',
 '세아베스틸지주.csv',
 '세아제강지주.csv',
 '셀트리온.csv',
 '신세계.csv',
 '신한지주.csv',
 '씨에스윈드.csv',
 '아모레G.csv',
 '아모레퍼시픽.csv',
 '에스디바이오센서.csv',
 '에스엘.csv',
 '에스원.csv',
 '에이피알.csv',
 '에코프로머티.csv',
 '엔씨소프트.csv',
 '엘앤에프.csv',
 '영원무역.csv',
 '영원무역홀딩스.csv',
 '오뚜기.csv',
 '오리온.csv',
 '오리온홀딩스.csv',
 '우리금융지주.csv',
 '유한양행.csv',
 '율촌화학.csv',
 '이마트.csv',
 '이수스페셜티케미컬.csv',
 '일진하이솔루스.csv',
 '제일기획.csv',
 '종근당.csv',
 '카카오.csv',
 '카카오뱅크.csv',
 '카카오페이.csv',
 '코스맥스.csv',
 '코스모신소재.csv',
 '코스모화학.csv',
 '코오롱인더.csv',
 '코웨이.csv',
 '크래프톤.csv',
 '키움증권.csv',
 '팬오션.csv',
 '포스코DX.csv',
 '포스코인터내셔널.csv',
 '포스코퓨처엠.csv',
 '풍산.csv',
 '하나금융지주.csv',
 '하나투어.csv',
 '하이브.csv',
 '하이트진로.csv',
 '한국가스공사.csv',
 '한국금융지주.csv',
 '한국앤컴퍼니.csv',
 '한국전력.csv',
 '한국콜마.csv',
 '한국타이어앤테크놀로지.csv',
 '한국항공우주.csv',
 '한미반도체.csv',
 '한미사이언스.csv',
 '한미약품.csv',
 '한샘.csv',
 '한세실업.csv',
 '한솔케미칼.csv',
 '한온시스템.csv',
 '한올바이오파마.csv',
 '한일시멘트.csv',
 '한전KPS.csv',
 '한전기술.csv',
 '한진칼.csv',
 '한화.csv',
 '한화생명.csv',
 '한화솔루션.csv',
 '한화시스템.csv',
 '한화에어로스페이스.csv',
 '한화오션.csv',
 '한화인더스트리얼솔루션즈.csv',
 '현대건설.csv',
 '현대글로비스.csv',
 '현대로템.csv',
 '현대모비스.csv',
 '현대백화점.csv',
 '현대엘리베이.csv',
 '현대위아.csv',
 '현대제철.csv',
 '현대차.csv',
 '현대해상.csv',
 '호텔신라.csv',
 '효성중공업.csv',
 '효성티앤씨.csv',
 '후성.csv',
 '휠라홀딩스.csv']

In [32]:
df = pd.DataFrame()

for list in os.listdir('../주식data/주식data'):
    df2 = pd.read_csv(f'../주식data/주식data/{list}', dtype={'종목코드':str})
    df2.rename(columns={'종목코드':'ticker', '날짜':'date'}, inplace=True)
    df = pd.concat([df, df2])
df = df.reset_index(drop=True)
df

              date      시가      고가      저가      종가     거래량        등락률  ticker
0       2017-12-08  149500  194000  149500  194000   68343        NaN  282330
1       2017-12-11  222000  249000  214000  248500  684631  28.092784  282330
2       2017-12-12  242500  246500  222500  235000  286513  -5.432596  282330
3       2017-12-13  235000  242500  228000  235000   94609   0.000000  282330
4       2017-12-14  236000  236500  221500  234000  118532  -0.425532  282330
...            ...     ...     ...     ...     ...     ...        ...     ...
443040  2024-12-23   40150   41200   40050   40900   59318   2.250000  081660
443041  2024-12-24   41100   41200   40650   40800   54198  -0.244499  081660
443042  2024-12-26   40650   41100   40400   40700   44665  -0.245098  081660
443043  2024-12-27   40400   40650   39850   39850  103272  -2.088452  081660
443044  2024-12-30   40400   40600   40050   40300   58196   1.129235  081660

[443045 rows x 8 columns]

In [33]:
price_df = df.sort_values(['ticker', 'date'])

price_df['ret_1d']  = price_df.groupby('ticker')['종가'].pct_change(1)
price_df['ret_5d']  = price_df.groupby('ticker')['종가'].pct_change(5)
price_df['ret_20d'] = price_df.groupby('ticker')['종가'].pct_change(20)

In [38]:
price_df.reset_index(drop=True, inplace=True)

In [42]:
price_df

,date,시가,고가,저가,종가,거래량,등락률,ticker,ret_1d,ret_5d,ret_20d
0,2015-01-02,23100,23100,22350,22600,184419,-2.795699,000080,NaN,NaN,NaN
1,2015-01-05,22600,23150,22400,23050,170602,1.991150,000080,0.019912,NaN,NaN
2,2015-01-06,22750,23100,22550,22650,142141,-1.735358,000080,-0.017354,NaN,NaN
3,2015-01-07,22650,23050,22350,22700,159007,0.220751,000080,0.002208,NaN,NaN
4,2015-01-08,22600,23100,22600,22850,126066,0.660793,000080,0.006608,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
443040,2024-12-23,29100,30100,29050,29550,888310,2.961672,489790,0.029617,-0.166432,-0.245211
443041,2024-12-24,29950,31350,29100,30400,984329,2.876481,489790,0.028765,-0.136364,-0.181696
443042,2024-12-26,30900,31450,30300,30600,557107,0.657895,489790,0.006579,-0.102639,-0.111756
443043,2024-12-27,30150,32100,29700,31150,991359,1.797386,489790,0.017974,-0.020440,-0.103597
443044,2024-12-30,30800,32150,30600,31600,451194,1.444623,489790,0.014446,0.101045,-0.053892

In [40]:
price_df.to_csv('단기모멘텀.csv', index=False)